* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.max-width {
  max-width: 1024px;
  margin: auto;
}
nav {
  /* background-color: aqua; */
  display: flex;
  justify-content: right;
  padding: 24px;
}
nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
  font-weight: bold;
}
.hero-container {
  /* background-color: aquamarine; */
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-container .hero-contant {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero-container .hero-contant button {
  width: 40%;
  padding: 10px;
  background-color: #ff6464;
  border: none;
  color: white;
  border-radius: 2px;
}
.hero-container .hero-img {
  margin-right: 24px;
}
.second-container-bg {
  background-color: #cae7ef;
  /* height: 400px; */
  padding: 32px;
}
.second-container {
  /* background-color: cornflowerblue; */
  /* height: 400px; */
  /* display: flex; */
}
.second-container .for-span {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  font-size: 24px;
}
.card-container {
  display: flex;
  justify-content: space-between;
}

.second-container .card-container .card {
  background-color: white;
  padding: 23px;
  width:450px;
  /* height: 245px; */
  display: flex;
  
  border-radius: 4px;
  justify-content: center;
  flex-direction: column;
  gap:20px;
}


.Work-container .card-container{
  /* background-color: coral; */
  /* padding: 12px; */
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.Work-container .card-container .card{
  /* background-color: white; */
  display: flex;
  align-items: center;
  gap: 24px;
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}
.Work-container .card-container .contant{
  /* background-color: #ff6464; */
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.Work-container .title{
  /* background-color: #ff6464; */
  margin: 12px;
  font-size: 24px;
}
footer{
  display: flex;
  /* background-color: #ff6464; */
  margin-bottom: 50px;
  padding: 60px;
  justify-content: center;
}
footer .contant{
  /* background-color: antiquewhite; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
footer .contant .icons{
  font-size: 32px;
}
footer .contant .icons span{
  border: 1px solid black;
  border-radius: 50%;
}

footer .contant .icons i:hover{
color: #ff6464;
/* borde/r-radius: 100%; */
cursor: pointer;

}
